<div class="card">
  <div class="card-header bg-info">
    <h6>Employee Register</h6>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="form-group col">
          <label>Department</label>
          <select class="form-control">
            <option value="">---select---</option>
            <option value="">Accounts</option>
            <option value="">Manager</option>
            <option value="">Administrator</option>
          </select>
        </div>


        <div class="form-group col">
          <label>Employee Name</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col">
          <label>Mobile no.</label>
          <input type="number" class="form-control">
        </div>


      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Gender</label>
          <select class="form-control">
            <option value="">---select---</option>
            <option value="">Male</option>
            <option value="">Female</option>
          </select>
        </div>


        <div class="form-group col">
          <label>Date of Join</label>
          <input type="date" class="form-control">
        </div>

        <div class="form-group col">
          <label>Email</label>
          <input type="email" class="form-control">
        </div>


      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Salary</label>
          <input type="text" class="form-control">
        </div>


        <div class="form-group col">
          <label>Password</label>
          <input type="password" class="form-control">
        </div>

        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" class="form-control">
        </div>


      </div>

      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group col form-check">
            <input type="checkbox" class="form-check-input">
            <label>Active</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group text-center">
          <button class="btn btn-success me-2">save</button>
          <button class="btn btn-warning me-2">Reset</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </div>


    </form>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info">
    <h6>Employee List</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Department</th>
            <th>Employee Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Joining Date</th>
            <th>Email</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Account</td>
            <td>Sushant</td>
            <td>1800180018</td>
            <td>Male</td>
            <td>01-04-2024</td>
            <td>sushant@gmail.com</td>
            <td class="text-center">
              <i class="fa fa-edit text-primary me-2"></i> 
              <i class="fa fa-info text-info me-2"></i> 
              <i class="fa fa-trash-o text-danger"></i> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>